.chef_content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.chef_content_quote{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    
}
.chef_content_quote>img{
    width: 3rem;
    height: 2rem;
}


.chef_content_quote>p{
    font-family: var(--font-base);
    font-size: 1.3rem;
}


.chef_sign>img{
    margin-top: 1rem;
}

.chef_sign>p{
    color: var(--color-golden);
    font-family: var(--font-base);
    font-size: 1.5rem;
    font-weight: semi-bold;
}