.chef_content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.chef_content_quote{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    
}
.chef_content_quote>img{
    width: 3rem;
    height: 2rem;
}


.chef_content_quote>p{
    font-family: var(--font-base);
    font-size: 1.3rem;
}

.chef_sign{
    display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 5rem;
   /* border: 2px solid white; */
   width: 100%;
}
.chef_sign>img{
    
    height: 50%;
    width: 50%;
    margin-bottom: 2rem;
}

.texts{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 20rem;
    
}

.texts>p{
    color: var(--color-golden);
    font-family: var(--font-base);
    font-size: 1.5rem;
    font-weight: semi-bold;
    white-space: nowrap;
}


@media screen and (max-width:600px) {
    .chef_content_quote>img{
        height: 1.5rem;
        width: 2rem;

    }
    .chef_sign{
        gap: 1rem;
    }
    .chef_sign>img{
        width: 50%;

    }
    
}

@media screen and (max-width:500px){
    .chef_content_quote>img{
        height: 1.5rem;
        width: 2rem;

    }
    .chef_sign{
        gap: 0.01rem;
    }
    .chef_sign>img{
        margin-top: 3rem;
        width: 40%;

    }

}

@media screen and (max-width:400px) {
    .chef_content_quote>img{
        height: 1.5rem;
        width: 2rem;

    }
    .chef_sign{
        gap: 0.01rem;
    }
    .chef_sign>img{
        margin-top: 3rem;
        width: 40%;

    }
    
}